<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
   
    <typeAliases><!-- vo객체의 별칭을 모아서 관리 -->

     <typeAlias type="sist.com.bean.Bboard" alias="board"/>
      

    </typeAliases>
    
    
    <mappers>
      <mapper resource="sist/com/dao/mapper.xml"/>
    </mappers>
</configuration>






